DJANGO_SECRET_KEY='django-insecure-j3%m+^8d9vf2jo4pa$_o=&%nq6%hi#jbwwvj1#u163+omsvm&a'
DJANGO_DEBUG=True

OHM_ROOT_HOSTS=127.0.0.1,api.ohm.com,localhost,ohm.com
OHM_BASE_DOMAIN=127.0.0.1
OHM_EDGE_HOST=edge.example.com
OHM_INTERNAL_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9


POSTGRES_DB=ohm-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL = redis://localhost:6379/0